.App {
  text-align: center;
  overflow: hidden;
}


.App-header {
height: 100vh;
width: 100vw;
 background-image:url('./Assets/imgg.jpg') ;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 overflow-x: scroll;
}
.navbar{
  height: 10vh;
  width: 100vw;
  background-color: aliceblue;
  position: relative;
}
.navbar button{
  width: 16%;
  height: 70%;
  border: 1px solid black;
  background-color: white;
  font-size: 23px;
  position: absolute;
  right: 10%;
  border-radius: 20px;
}
@media  (max-width:555px)  {
  .App-header {
    height: 100vh;
    width: 100vw;
     background-image:url('./Assets/imgg.jpg') ;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    }
    .navbar{
      height: 10vh;
      width: 100vw;
      background-color: aliceblue;
      position: relative;
    }
    .navbar button{
      width: 50%;
      height: 70%;
      border: 1px solid black;
      background-color: white;
      font-size: 23px;
      position: absolute;
      right: 10%;
      border-radius: 20px;
    }
}


