.profile-box{
    height: 55vh;
    width: 37%;
    background-color: rgb(251, 251, 252);
    border-radius: 25px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    /* overflow-y: hidden; */
}
.form-box {
    background-color: rgb(243, 249, 249);
    text-align: left;
    height: 300px;
    width: 400px;
    margin-left: 20%;
    margin-top:3%;
    display: flex;
    flex-direction: column;
}
.form-box form{
    background-color: rgb(238, 246, 246);
}
.form-box input {
    width: 100%;
    height: 30px;
    padding: 20px;
    font-size: 1.1rem;
    word-spacing: 10%;

}

.form input::placeholder {
    font-size: 18px;
    font-family: "poppins" sans-serif;
}
.wi-full {
    margin-top: 12%;
    width: 800px;
    background-color: rgb(129, 213, 236);
    word-spacing: 20%;
    color: black;
}
.update{
    margin-left: 8%;
    background-color:  rgb(53, 10, 224);
    width: 30%;
    color: white;
}
span {
    color: #e74c3c;
    font-size: 16px;
    display: block;
    font-weight: 500;
    transition-timing-function: calc(1s);
  }
  
.text-white{
    background-color: rgb(53, 10, 224);
    width: 30%;
    color: white;
}
@media only screen and (max-width: 850px) and (min-width: 450px){
        .profile-box{
        height: 40vh;
        width: 70%;
        background-color: rgb(249, 249, 251);
        border-radius: 25px;
        display:inline-block;
        justify-content: center;
        align-items: center;
        /* overflow-y: hidden; */
    }
    .navbar button{
        width: 25%;
        font-size: 19px;
    }
    .form-box {
        background-color: rgb(243, 249, 249);
        text-align: left;
        height: 300px;
        width: 400px;
        margin-left: 8%;
        margin-top:3%;
        display: flex;
        flex-direction: column;
    }
    .form-box form{
        background-color: rgb(238, 246, 246);
    }
    .form-box input {
        width: 100%;
        height: 30px;
        padding: 20px;
        font-size: 1.1rem;
        word-spacing: 10%;
    
    }
    
    .form input::placeholder {
        font-size: 18px;
        font-family: "poppins" sans-serif;
    }
    .update{
        margin-left: 8%;
        background-color:  rgb(53, 10, 224);
        width: 30%;
        color: white;
    }
    .wi-full {
        margin-top: 10%;
        width: 600px;
        background-color: rgb(129, 213, 236);
        word-spacing: 20%;
        color: black;
        margin-left: -22%;
    }
    .text-white{
        background-color: rgb(53, 10, 224);
        width: 30%;
        color: white;
        margin-left:5%;

    }
    #emailText {
        color: #e74c3c;
        font-size: 14px;
        margin-top: 5px;
        display: block;
      }
  }